<div>
    <div class="col-md-3" >
        @{ var _blog_bll = System.Web.Mvc.DependencyResolver.Current.GetService<BlogSystem.Dtos.IBlogBll>();
            var data1 = _blog_bll.GetDataByTop4().Result;
            var data2 = _blog_bll.GetDataByRandom4().Result; }
        <div class="panel panel-group">
            <div class="panel-body">
                <h3>最近更新</h3>
                @*<hr />*@ 
            </div>
            <ul class="list-group">
                @{ foreach (var item in data1)
                   {
                       <a class="list-group-item" style="border-width: 0px; font-size: 18px; font-family:-apple-system;" href="/FrontHome/BlogDetail?id=@item.Id">@item.Title</a> } }
            </ul>
        </div>
        <div style="padding-top: 50px;">

        </div>
        <div class="panel panel-group">
            <div class="panel-body" style="outline:none">
                <h3>编辑推荐</h3>
                @*<hr />*@
            </div>
            <ul class="list-group">
                @{ foreach (var item in data2)
                   {
                       <a class="list-group-item color" style="border-width: 0px; font-size: 17px;font-family:-apple-system;" href="/FrontHome/BlogDetail?id=@item.Id">@item.Title</a> } }
            </ul>
        </div>
    </div>

</div>
<style>
    .color a:hover{
        text-decoration: none;
        outline: none;
        color: #228896;
    }
</style>