@model BlogSystem.MVCSite.Areas.Backend.Views.CategoryBackend.AddCategoryViewModel
@{
    ViewBag.Title = "新增类别";
    Layout = "~/Areas/Backend/Views/Shared/BackendLayout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">新增类别</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Add", "CategoryBackend", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="Title">类别名称</label>
                        @Html.TextBoxFor(r => r.Title, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessage("Title")</span>
                    </div>

                    <div class="form-group">
                        <label for="Description">类别描述</label>
                        @Html.TextBoxFor(r => r.Description, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessage("Description")</span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" typr="submit">保存</button>
                        <button class="btn btn-danger" typr="reset">重置</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section script{
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}

