<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- Setup the Piczard configuration sections --><sectionGroup name="codeCarvings.piczard">
     <section name="coreSettings" type="CodeCarvings.Piczard.Configuration.CoreSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
   </sectionGroup></configSections>
  <connectionStrings>
    <add name="con" connectionString="server=.;database=myblog;uid=sa;pwd=12;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<codeCarvings.piczard>
   <coreSettings>
     <drawing maxImageSize="5000, 5000" />
     <imageArchiver defaultJpegQuality="92" defaultQuantizeGifImages="true" />
     <security defaultEncryptionKey="Place here your random key (alphanumeric / 10..20 chars)" />
     <plugins>
       <!-- Register here your Piczard Plugins. -->
       
        <!-- === EXAMPLE: DeBrand Plugin for Piczard by Digivogue - http://digivogue.com/products/Piczard-DeBrand/ ===
    		<plugin type="Digivogue.Plugins.Piczard.DeBrand.DeBrandPiczardPlugin, Digivogue.Plugins.Piczard.DeBrand">
    			<license number="..." key="..." />
    		</plugin>
    		========= -->          
     </plugins>
   </coreSettings>
 </codeCarvings.piczard></configuration>