
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Share/FrontLayout.cshtml";
}

<div class="layout">
    <h1 style="font-size: 55px"> My Blog</h1>
    <div class="markdown">
        <p style="font-size: 25px;">用它构建你的博客网站</p>
        <p style="font-size: 25px;">带给你简单而愉悦的使用体验</p>
    </div>
    <div class="markdown">

    </div>
    <a href="../../Views/FrontHome/Register.cshtml">
        <button type="button" class="btn">快速上手</button>
    </a>
</div>

<div class="features" data-cols="3">
    <div class="features-item">
        <i>🚀</i>
        <h3>更好的编译性能</h3>
        <p>
            使用 ASP.NET MVC开发，结合JQuery，Ajax带来更快的编译速度
        </p>
    </div>
    <div class="features-item">
        <i>🔍</i>
        <h3>内置全文搜索</h3>
        <p>
            不需要接入任何三方服务，标题、正文、demo 等内容均可被搜索
        </p>
    </div>
    <div class="features-item">
        <i>🎨</i>
        <h3>可视化HTML编辑器</h3>
        <p>
            文本编辑器采用CKEditor5，为主题用户的文本图片输入提供更好的支持，更强更易用
        </p>
    </div>
    <div class="features-item">
        <i>💡</i>
        <h3>为用户需求而生</h3>
        <p>
            无广告植入，始终关注用户需求，为解决问题而生
        </p>
    </div>
    <div class="features-item">
        <i>🚥</i>
        <h3>支持第三方登录</h3>
        <p>
            不需要下载任何APP，支持第三方登录，快速开始
        </p>
    </div>
    <div class="features-item">
        <i>📈</i>
        <h3>后台数据看板</h3>
        <p>
            后台主页数据可视化看板，一周概览数据直观清晰
        </p>
    </div>
</div>

<div>
    <div class="row" style="background-color: white;">
        <div class="col-md-12" style="text-align:center" >
            <h1 class="fh5co-heading-colored" style="padding-top: 15px; font-size: 32px;">仅需三步，开始建立你的博客</h1>
        </div>
    </div>
    <div class="row" style="background-color: white">
        <div class="col-md-3" style="text-align: center; padding-top: 20px;">
            <h3 style="padding-bottom: 35px; "> 注册并登录你的账号</h3>
        </div>
        <div class="col-md-1" style="text-align:center; padding-top: 20px;">
            <h3><span class="glyphicon glyphicon-circle-arrow-right"></span></h3>
        </div>
        <div class="col-md-4 " style="text-align:center; padding-top: 20px;">
            <h3> 完善个人资料，展示你的个性</h3>
        </div>
        <div class="col-md-1" style="text-align:center; padding-top: 20px;">
            <h3><span class="glyphicon glyphicon-circle-arrow-right"></span></h3>
        </div>
        <div class="col-md-3" style="text-align:center; padding-top: 20px;">
            <h3> 发布你的第一篇博客</h3>
        </div>
    </div>
</div>

<style>
    .layout {
        margin: -50px -10px 0;
        padding: 80px 0 30px 0;
        text-align: center;
        background-color: #f9f9f9;
    }
    .markdown {
        color: #454d64;
        padding: 10px 0 0 0;
        line-height: 1.6;
    }
    .features {
        margin: 5px auto 0;
        max-width: 1392px;
        padding: 0 24px;
        overflow: hidden;
        box-sizing: border-box;
    }
    .features-item {
        width: 31.4%;
        margin: 12px 10px;
        float: left;
    }
    .features-item i {
        font-size: 64px;
        font-style: normal;
    }
    .features-item p {
        margin: 12px 0;
        color: #4f5866;
        font-size: 16px;
        line-height: 1.475;
    }
    .btn {
        padding: 30px 32px;
        height: 54px;
        color: #ffffff;
        font-size: 18px;
        background: #73B4BD;
        border: 1px solid;
        border-radius: 22px;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        transition: all .3s;
    }
</style>