

@{
    ViewBag.Title = "关于我们";
    string search = ViewBag.Search;
    Layout = "~/Views/Share/FrontLayout.cshtml";
}

 
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">关于我们</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-settings"></i>
                    </div>

                    <div class="fh5co-text">
                        <h3>可自定义</h3>
                        <p>自由修改，展示个性 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-search4"></i>
                    </div>
                    <div class="fh5co-text">
                        <h3>操作简单</h3>
                        <p>无需适应，快速上手 </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon">
                        <i class="icon-paperplane"></i>
                    </div>
                    <div class="fh5co-text">
                        <h3>简洁又好</h3>
                        <p>界面清爽，专注内容 </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="fh5co-narrow-content">
        <div class="row">
            <div class="col-md-12 animate-box" style="text-align:center" data-animate-effect="fadeInLeft">
                <h1 class="fh5co-heading-colored">仅需三步，开始建立你的博客</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 animate-box" style="text-align:center" data-animate-effect="fadeInLeft">
                <h3> 注册并登录你的账号</h3>
</div>
            <div class="col-md-1 animate-box" style="text-align:center" data-animate-effect="fadeInLeft">
                <h3><span class="glyphicon glyphicon-circle-arrow-right"></span></h3>
            </div>
            <div class="col-md-4  animate-box" style="text-align:center" data-animate-effect="fadeInLeft">
                <h3> 完善个人资料，展示你的个性</h3>
</div>
            <div class="col-md-1 animate-box" style="text-align:center" data-animate-effect="fadeInLeft">
                <h3><span class="glyphicon glyphicon-circle-arrow-right"></span></h3>
            </div>
            <div class="col-md-3  animate-box" style="text-align:center" data-animate-effect="fadeInLeft">
                <h3> 发布你的第一遍博客</h3>
</div>
        </div>
    </div>
 