
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<div class="vid-container">
    <div class="inner-container">
        <div class="box">
            <h1>修改密码</h1>
            <input type="password" placeholder="请输入新密码" />
            <input type="password" placeholder="再次确认密码" />
            <button>确定</button>

        </div>
    </div>
</div>
<style>
    body {
        padding: 0;
        margin: 0;
    }

    .vid-container {
        position: relative;
        height: 100vh;
        overflow: hidden;
        background: url('/Contents/images/img_bg_2.jpg') center center / cover no-repeat;
        opacity: 0.95;
    }

    .bgvid {
        position: relative;
        left: 0;
        top: 0;
        width: 100vw;
    }

    .inner-container {
        width: 500px;
        height: 500px;
        position: relative;
        top: calc(50vh - 200px);
        left: calc(50vw - 200px);
        overflow: hidden;
    }

    .bgvid.inner {
        top: calc(-50vh + 200px);
        left: calc(-50vw + 200px);
        filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
        -webkit-filter: blur(10px);
        -ms-filter: blur(10px);
        -o-filter: blur(10px);
        filter: blur(10px);
    }

    .box {
        position: absolute;
        height: 100%;
        width: 100%;
        font-family: Helvetica;
        color: #fff;
        background: rgba(0, 0, 0, 0.13);
        padding: 30px 0px;
    }

        .box h1 {
            text-align: center;
            margin: 35px 20px;
            font-size: 40px;
        }

        .box input {
            display: block;
            width: 320px;
            height: 15px;
            margin: 20px auto;
            padding: 15px;
            background: #fff;
            font-size: 15px;
            color: #fff;
            border: 1px solid;
            border-radius: 25px;
        }

            .box input:focus,
            .box input:active,
            .box button:focus,
            .box button:active {
                outline: none;
            }

        .box button {
            background: #3a62d7;
            border: 1px;
            border-radius: 25px;
            color: #fff;
            padding: 10px;
            font-size: 17px;
            width: 340px;
            margin: 25px auto;
            display: block;
            cursor: pointer;
        }

            .box button:active {
                background: #27ae60;
            }

        .box p {
            font-size: 14px;
            text-align: center;
        }

            .box p span {
                cursor: pointer;
                color: #fff;
            }
</style>
</html>
