@model BlogSystem.MVCSite.Areas.Backend.Data.Login.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<div class="vid-container">
    <div class="inner-container">
        <form method="post" action="/FrontHome/Login">
            <div class="box">
                <h1>My Blog</h1>
                <span class="text-danger" style="float:right">@Html.ValidationMessage("Email")</span>
                @Html.TextBoxFor(r => r.Email,new { @placeholder = "请输入邮箱地址" })
                <span class="text-danger" style="float:right">@Html.ValidationMessage("Password")</span>
                <input type="password" placeholder="密码" name="Password" />
                <button>登录</button>
                <p>
                    <span><a href="/FrontHome/register" >创建账号</a>&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                    <span>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/FrontHome/ForgetPassword" >忘记密码</a></span>
                </p>
            </div>
            </form>
    </div>
</div>
<script src="~/Areas/Backend/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Areas/Backend/assets/vendor/bootstrap/js/bootstrap.min.js"></script>


<script src="https://cdn.bootcdn.net/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
<style>
    a {
        color: white;
        text-decoration: none
    }
    body {
        padding: 0;
        margin: 0;
    }

    .vid-container {
        position: relative;
        height: 100vh;
        overflow: hidden;
        background: url('/Contents/images/img_bg_2.jpg') center center / cover no-repeat;
        opacity: 0.95;
    }

    .bgvid {
        position: relative;
        left: 0;
        top: 0;
        width: 100vw;
    }

    .inner-container {
        width: 500px;
        height: 500px;
        position: relative;
        top: calc(50vh - 200px);
        left: calc(50vw - 200px);
        overflow: hidden;
    }

    .bgvid.inner {
        top: calc(-50vh + 200px);
        left: calc(-50vw + 200px);
        filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
        -webkit-filter: blur(10px);
        -ms-filter: blur(10px);
        -o-filter: blur(10px);
        filter: blur(10px);
    }

    .box {
        position: relative;
        height: 100%;
        width: 100%;
        font-family: Helvetica;
        color: #fff;
        padding: 30px 0px;
    }

        .box h1 {
            text-align: center;
            margin: 35px 20px;
            font-size: 40px;
        }

        .box input {
            display: block;
            width: 320px;
            height: 15px;
            margin: 20px auto;
            padding: 15px;
            background: opacity;
            font-size: 15px;
            border: 0px solid;
            border-radius: 25px;
        }

            .box input:focus,
            .box input:active,
            .box button:focus,
            .box button:active {
                outline: none;
            }

        .box button {
            background: #2ecc71;
            border: 1px;
            border-radius: 25px;
            color: #fff;
            padding: 10px;
            font-size: 17px;
            width: 340px;
            margin: 25px auto;
            display: block;
            cursor: pointer;
        }

            .box button:active {
                background: #27ae60;
            }

        .box p {
            font-size: 14px;
            text-align: center;
        }

            .box p span {
                cursor: pointer;
                color: #fff;
            }
</style>
</html>
