
@{
    ViewBag.Title = "常见问题";
    Layout = "~/Areas/Backend/Views/Shared/BackendLayout.cshtml";
}
<div class="container-fluid">
    <h1 class="page-title">常见问题</h1>
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">顶部头像左侧的铃铛处有红点</h3>
            <h4>   这个红点的含义是留言板的未读消息数量，点击查看未读消息后该红点就会消失。</h4>
        </div>
        <div class="panel-body">
            <h4>Panel Content</h4>
            <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
        </div>
    </div>
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">如何修改管理员登录密码</h3>
            <h4>   点击管理员头像进入个人中心即可修改登录密码，也可以在用户管理页找到个人信息直接编辑修改。</h4>
        </div>
        <div class="panel-body">
            <h4>Panel Content</h4>
            <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
        </div>
    </div>
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">修改头像或使用默认头像</h3>
            <h4>  点击管理员头像进入个人中心可修改头像或使用默认头像。</h4>
        </div>
        <div class="panel-body">
            <h4>Panel Content</h4>
            <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
        </div>
    </div>
</div>