
@{
    ViewBag.Title = "基本使用";
    Layout = "~/Areas/Backend/Views/Shared/BackendLayout.cshtml";
}
<div class="container-fluid">
    <h1 class="page-title">基本使用</h1>
    <div class="row">
        <div class="col-md-8">
            <!-- PANEL HEADLINE -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">后台主页</h3>
                    <h4>  后台提供一周概览看板，直观展现了近一周以来博客的浏览量。</h4>
                </div>
                <div class="panel-body">
                    <h4>Panel Content</h4>
                    <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
                </div>
            </div>
            <!-- END PANEL HEADLINE -->
            </div>
        <div class="col-md-4">
            <!-- PANEL NO PADDING -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Index of Backend</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                </div>
                <div class="panel-body no-padding bg-primary text-center">
                    <div class="padding-top-30 padding-bottom-30">
                        <i class="fa fa-thumbs-o-up fa-5x"></i>
                        <h3>Index of Backend</h3>
                    </div>
                </div>
            </div>
            <!-- END PANEL NO PADDING -->
        </div>
        </div>
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">博客管理</h3>
                    <h4>   在博客管理页面，你可以轻松实现对所有博客内容的审查与权限修改。</h4>
                </div>
                <div class="panel-body">
                    <h4>Panel Content</h4>
                    <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
                </div>
            </div>
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">评论管理</h3>
                    <h4>  在评论管理页面，你可以对违反社区文明公约的评论进行删评处理。</h4>
                </div>
                <div class="panel-body">
                    <h4>Panel Content</h4>
                    <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
                </div>
            </div>
        </div>



