
@{
    ViewBag.Title = "基本使用";
    Layout = "~/Areas/Backend/Views/Shared/BackendLayout.cshtml";
}
    <div class="container-fluid">
        <h1 class="page-title">基本使用</h1>
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">后台主页</h3>
                <h4>  后台提供一周概览看板，直观展现了近一周以来博客的浏览量。</h4>
            </div>
            <div class="panel-body">
                <h4>Panel Content</h4>
                <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
            </div>
        </div>

        <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">博客管理</h3>
                    <h4>   在博客管理页面，你可以轻松实现对所有博客内容的审查与权限修改。</h4>
                </div>
                <div class="panel-body">
                    <h4>Panel Content</h4>
                    <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
                </div>
            </div>
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">评论管理</h3>
                    <h4>  在评论管理页面，你可以对违反社区文明公约的评论进行删评处理。</h4>
                </div>
                <div class="panel-body">
                    <h4>Panel Content</h4>
                    <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
                </div>
            </div>
        </div>

